<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <!-- <button type="button" class="close" data-dismiss="alert"></button> -->
    <button type="button" class="close" (click)="confirmDelete(contactInput)">
      <span class="badge close btn btn-danger ">&times;</span>
    </button>
    <div class="card-header">
        <h1>{{contactInput.lName}}, {{contactInput.fName}}</h1>
    </div>
    <div class="card-body">
        <h4 class="card-title">Phone: {{contactInput.telNum}}</h4>
        <p class="card-text">Email: {{contactInput.email}}</p>
    </div>
</div>
