<form class="example-form" (submit)="onSubmit()">
    <!-- <form class="example-form" (submit)="onSubmit()"> -->
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="enter first name" [formControl]="fname" [(ngModel)]='fName' required>
                <mat-error *ngIf="fname.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <!--[ngStyle]="{'width': '500px'}"-->
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="enter last name" [formControl]="lname" [(ngModel)]='lName' required>
                <mat-error *ngIf="lname.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="enter phone numner" [formControl]="telnum" [(ngModel)]='telNum' required>
                <mat-error *ngIf="telnum.invalid">{{getInputErrorMessage()}}</mat-error>
                <mat-icon matSuffix>phone_enabled</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]='contactEmail' required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <span class="lead" [hidden]="fName === ''">Name:</span> {{fName}} {{lName}}
                </div>
                <div class="col-md-3">
                    <span class="lead" [hidden]="telNum === null">Phone:</span> {{telNum}}
                </div>
                <div class="col-md-3">
                    <span class="lead" [hidden]="contactEmail === ''">Email:</span> {{contactEmail}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="lead" [hidden]="addContactBtnEnable()">Date: </span> <span [hidden]="addContactBtnEnable()">{{dateAdded | date}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-lg" [disabled]="addContactBtnEnable()">ADD CONTACT</button>
        </div>
    </div>
</form>